*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
    display: flex;
}

ul {
    list-style: none;
    background-color: rebeccapurple;
}

ul:not(ul ul) {
    min-height: 100vh;
    padding-top: 5vh;
    padding-left: 2vw;
    min-width: 20vw;
}

ul ul {
    background-color: blueviolet;
    display: none;
    padding-top: 1vh;
    padding-left: 3.5vw;
    width: 15vw;
}

.show {
    display: block;
}

ul > li {
    padding: 5px 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}

.side-panel {
    height: 100vh;
    min-width: fit-content;
}